<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="title"><%= f.label :name %></div>
      <div class="input"><%= f.text_field :name %></div>
  </div>
  <div class="field">
    <div class="title"><%= f.label :email %></div>
    <div class="input"><%= f.text_field :email %></div>
  </div>
  <div class="field">
    <div class="title"><%= f.label :phone %></div>
    <div class="input"><%= f.text_field :phone %></div>
  </div>
  <div class="field">
    <div class="title"><%= f.label :description %></div>
    <div class="input"><%= f.text_area :description %></div>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
