<!DOCTYPE html>
<html>
<head>
  <title>NoCoGear Colorado Gear</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
    <h1>NoCoGear</h1>
    <% if notice %>
      <div id='notice'><%= notice %></div>
    <% end %>
    <% if alert %>
      <div id='alert'><%= alert %></div>
    <% end %>

    <%= yield %>

    <div id='footer'>
      <a href='mailto:system9@composition9.com'>Contact Us</a>
      <a href='https://secure.flickr.com/photos/60057960@N06/9376257472/in/photolist-fhxLFA-8dEbt3-8dEajo-cLDzaq-8i2uhw-8i2vY1-8edg3D-8edfsv-8w9BMj-7KP7so-7KP36o-egzsvG-aJiDBZ-aJiBAB-8EBwEg-8wWXSS-fDX5eA-8i3tVE-8hZgK6-8kq7Nd-8kq7UA-9iRsVL-dyqvdS-8if5JM-8iijTL-8iikbw-eRDMgY-eRDMfo-cqpWSu-8ZEkEH-9tXYqB-9u1YzQ-8edm3e-8edjX4-7CGx5r-bpTKw9-bnfWHT-8HtMzN-bq9RTW'>mountain image</a>
  </div>
</body>
</html>
